.input-container {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.input {
	min-width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	font-size: large;
	color: #666666;
}

.label {
	color: white;
	font-weight: bold;
	font-size: x-large;
}

.label:focus {
	color: tomato;
}
