.form-container {
  display: flex;
  flex-flow: column wrap;
  max-width: 350px;
}

input {
  border-radius: 8px;
  margin: 8px;
  padding: 8px 16px;
}

.card-container {
  display: flex;
  flex: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  border-radius: 8px;
  border: 2px solid rgb(162, 162, 253);
}

.card-first-container {
  margin: 16px;
}

.card-second-container {
  margin: 16px;
}
