.btn-next {
  padding: 8px 16px;
  font-weight: 700;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}

.btn-previous {
  padding: 8px 16px;
  font-weight: 700;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}
